/pytorch/
/code/4_mlp/kaggle_data/
/my_code/data/FashionMNIST/raw/t10k-images-idx3-ubyte
/my_code/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
/my_code/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
/my_code/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
/my_code/data/FashionMNIST/raw/train-images-idx3-ubyte
/my_code/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
/my_code/data/FashionMNIST/raw/train-labels-idx1-ubyte
/my_code/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
